.App-main {
  display: flex;
  flex-direction: column;
}

.App-main .ListOfGifs {
  width: 100%;
}
.App-main .TrendingSearchTerms {
  width: 100%;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App-main {
    flex-direction: row;
  }
  .App-main .ListOfGifs {
    width: 70%;
  }
  .App-main .TrendingSearchTerms {
    width: 25%;
  }
}
