.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.App-main .ListOfGifs {
  width: 100%;
  min-height: 100vh;
}
.App-main .TrendingSearchTerms-section {
  width: 100%;
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App-main {
    flex-direction: row;
  }
  .App-main .ListOfGifs {
    width: 70%;
  }
  .App-main .TrendingSearchTerms-section {
    width: 25%;
    min-height: 100vh;
  }
}
