.Modal {
  background-color: rgba(255, 255, 255, 0.794);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.Modal-content {
  background-color: #222;
  width: 300px;
  padding: 10px 20px;
  height: 80vh;
  margin: 10vh auto;
  position: relative;
}

.Close-modal {
  display: block;
  margin-bottom: 32px;
  cursor: pointer;
  background-color: #72f69a;
  color: #fff;
  outline: none;
  border: medium solid transparent;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.Close-modal:hover {
  border: medium solid #963ac5;
}
