.thumb {
  z-index: 99;
  border-radius: 50%;
  padding: 0.6rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: medium solid transparent;
}

.thumb:hover {
  cursor: pointer;
  /* transform: scale(1.2);
  transition: transform 0.1s linear; */
  border: medium solid #704cf6;
}

.thumb img {
  max-width: 100%;
  max-width: auto;
}

.SkeletonThumb {
  width: 100%;
  height: 100%;
}
