.gf-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
.gf-header a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border: medium solid #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
