.Form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.Form-wrapper > form {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  gap: 1rem;
}
.Form-wrapper > form input {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.3rem 1rem;
}

.Form-wrapper > form button[type='submit'] {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem;
}

.btn[disabled] {
  color: rgb(165, 194, 244);
  pointer-events: none;
}
