.App {
  text-align: center;
  background-color: #232222;
  color: #fff;
}

.App-nav {
  padding: 2rem 0;
  width: 75%;
  height: 14rem;
  margin-left: auto;
  margin-right: auto;
}

.Link-home {
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}
.Logo-img {
  border: thick solid white;
  width: 100%;
  max-height: 100%;
  display: block;
}

.ListOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
}
.ListOfGifs > * {
  border: thick solid transparent;
}

.ListOfGifs > :nth-child(even):hover {
  border: thick solid #963ac5;
}

.ListOfGifs > :nth-child(odd):hover {
  border: thick solid #72f69a;
}


@media (min-width: 576px) {
  .App-nav {
    width: 65%;
  }
}

@media (min-width: 768px) {
  .App-nav {
    width: 40%;
  }
}
